<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">恶意域名检测系统</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
{#    #}
{#      <ul class="navbar-nav mr-auto">#}
{#    <!--jinja2 条件判断 让当前页面的选项卡高亮-->#}
{#      {% if element == 2 %}#}
{#        <li class="nav-item active">#}
{#      {% else %}#}
{#        <li class="nav-item">#}
{#      {% endif %}#}
{#        <a class="nav-link" href="{{ url_for('show_malUrl') }}" rel="external">恶意域名检测</a>#}
{#      </li>#}
{#    </ul>#}
  </div>
</nav>
