<!--当前所用版本，2020.7.10-->
<!DOCTYPE html>
<html>
<head>
{#	<link rel="shortcut icon" href="#" />#}

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 使用IE8以上的渲染 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>IP关系图</title>
	<!--导入的为ECharts3的js -->

</head>
<body>
    <!--左侧边栏-->
	<!-- 为 ECharts 准备一个具备大小（宽高）的 容器 -->
	<div id="chart1" style="width: 100%;height: 1500px;"></div>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

</body>
</html>
<script type="text/javascript">
	// 基于准备好的容器(这里的容器是id为chart1的div)，初始化echarts实例
	var chart1 = echarts.init(document.getElementById("chart1"));

	var	option = {
		backgroundColor: '#fff',	// 背景颜色
	    title: {                    // 图表标题
	        text: "民航IP关系图",           // 标题文本
	        left : '3%',                    // 标题距离左侧边距
	        top : '3%',                     // 标题距顶部边距
			textStyle : {                       // 标题样式
				color : '#000',                     // 标题字体颜色
				fontSize : '30',                    // 标题字体大小
			}
	    },
	    tooltip: {                  // 提示框的配置
	        formatter: function(param) {
	            if (param.dataType === 'edge') {
	                //return param.data.category + ': ' + param.data.target;
	                return param.data.target;
	            }
	            //return param.data.category + ': ' + param.data.name;
	            return param.data.name;
	        }
	    },

	    legend : { //=========圖表控件 图例
                    show : true,
                    orient: 'vertical',  //垂直布局
                    x: '3%',
                    y: '100px',  //垂直布局的位置  y: 'center'
                    textStyle: {
                        fontSize: 20,
                    },
                    data : [ {
                        name : '访问量：大于1亿',
                        icon : 'circle'//'circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow'
                    },
                    {
                        name : '访问量：1000万～1亿',
                        icon : 'circle'
                    }, {
                        name : '访问量：100万～1000万',
                        icon : 'circle'
                    }, {
                        name : '访问量：10万～100万',
                        icon : 'circle'
                    }, {
                        name : '访问量：1万～10万',
                        icon : 'circle'
                    }, {
                        name : '访问量：100～1万',
                        icon : 'circle'
                    }, {
                        name : '访问量：小于100',
                        icon : 'circle'
                    }]
                },
	    series: [{
	        type: "graph",          // 系列类型:关系图
	        //top: '10%',             // 图表距离容器顶部的距离
	        roam: true,             // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移，可以设置成 'scale' 或者 'move'。设置成 true 为都开启
	        edgeSymbol: ['circle', 'arrow'],
			edgeSymbolSize: [4, 7],
			focusNodeAdjacency: true,   // 是否在鼠标移到节点上的时候突出显示节点以及节点的边和邻接节点。[ default: false ]
			force: {                // 力引导布局相关的配置项，力引导布局是模拟弹簧电荷模型在每两个节点之间添加一个斥力，每条边的两个节点之间添加一个引力，每次迭代节点会在各个斥力和引力的作用下移动位置，多次迭代后节点会静止在一个受力平衡的位置，达到整个模型的能量最小化。
	                                // 力引导布局的结果有良好的对称性和局部聚合性，也比较美观。
	            repulsion: [70,200],            // [ default: 50 ]节点之间的斥力因子(关系对象之间的距离)。支持设置成数组表达斥力的范围，此时不同大小的值会线性映射到不同的斥力。值越大则斥力越大
	            edgeLength: [50, 500],    // [ default: 30 ]边的两个节点之间的距离(关系对象连接线两端对象的距离,会根据关系对象值得大小来判断距离的大小)，
	            //layoutAnimation : false        // 这个距离也会受 repulsion。支持设置成数组表达边长的范围，此时不同大小的值会线性映射到不同的长度。值越小则长度越长。如下示例:
	                                        // 值最大的边长度会趋向于 10，值最小的边长度会趋向于 50      edgeLength: [10, 50]
	        },
			draggable: true,
	        layout: "force",            // 图的布局。[ default: 'none' ]
	                                    // 'none' 不采用任何布局，使用节点中提供的 x， y 作为节点的位置。
	                                    // 'circular' 采用环形布局;'force' 采用力引导布局.
	        // 标记的图形
	        //symbol: "path://M19.300,3.300 L253.300,3.300 C262.136,3.300 269.300,10.463 269.300,19.300 L269.300,21.300 C269.300,30.137 262.136,37.300 253.300,37.300 L19.300,37.300 C10.463,37.300 3.300,30.137 3.300,21.300 L3.300,19.300 C3.300,10.463 10.463,3.300 19.300,3.300 Z",
	        symbol: 'circle',
	        itemStyle: {
                    normal: {
                        borderColor: '#fff',
                        borderWidth: 1,
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.3)',

                    }
                },
	        label: {                // 关系对象上的标签
	            position: 'right',
                    formatter: '{b}'
	        },
			lineStyle: {
                    color: 'source',
                    curveness: 0.2
                },
	        emphasis: {
                    lineStyle: {
                        width: 10
                    }
                },
	        data: [],
	        categories: [],
	        links: [],
	    }],
	    animationEasingUpdate: "quinticInOut",          // 数据更新动画的缓动效果。[ default: cubicOut ]    "quinticInOut"
	    animationDurationUpdate: 100                    // 数据更新动画的时长。[ default: 300 ]
	};
	// 使用刚指定的配置项和数据显示图表
	chart1.setOption(option)
	window.onresize = chart1.resize;
	$(function () {
		$.ajax({
			async:false,
			type: 'get',
			url: '/get_name',
			dataType: 'json',
			success: function (res) {
				console.log(res['key'])
				chart1.hideLoading();    //隐藏加载动画
				var x = res['key']
				chart1.setOption({        //加载数据图表
					series: [{
					// 根据名字对应到相应的系列
						data: res['key'],
                        categories: res['cat'],
					}]
				});
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				alert(XMLHttpRequest.status);
				alert(XMLHttpRequest.readyState);
				alert(textStatus);
        	},
		});
	})
	$(function () {
        $.ajax({
            async: false,
            type: 'get',
            url: '/get_link',
            dataType: 'json',
            success: function (res) {
                chart1.hideLoading();    //隐藏加载动画
                chart1.setOption({        //加载数据图表
                    series: [{
                        // 根据名字对应到相应的系列
                        links: res['key'],
                    }]
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            },
        });
    })


</script>
